body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #f4f4f4;
}
@media (max-width: 500px) {
  body {
      margin: 50px 20px;
  }
  .container {
      width: 90%;
      padding: 15px;
  }
}